// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

// Contact Form
$contact: 'contact';

.wpcf7 {
  text-align: left;

  label {
    display: block;
  }

  .col-xs-12 {
    margin-top: 1em;
  }

  & .sent {
    section {
      display: none;
    }
    .wpcf7-response-output {
      color: $white;
      font-size: 1.6em;
      padding: 16px;
    }
  }

  &-text {
    border: 2px $mint solid;
    color: $midnight;
    width: 100%;
    transition: all, .2s;

    &:focus {
      border: 2px $seafoam solid;
    }
  }

  &-textarea {
    border: 4px $mint solid;
    color: $midnight;
    height: 120px;
    width: 100%;
    transition: all, .2s;

    &:focus {
      outline: 0;
      border: 4px $seafoam solid;
    }
  }
  &-submit {
    background: $red;
    border: 0;
    border-radius: 4px;
    color: $white;
    float: right;
    @include din(18px);
    padding: 4px 60px;
    transition: all, .2s;
    &:hover, &:active {
      background: darken( $red, 10% );
    }
  }
}

.contact {
  &-submit {
    .wpcf7-form-control-wrap,
    p {
      display: inline-block;
      float: left;
      width: 50%;
    }
  }

  .contact-info {
    input {
      width: 90%;
    }
  }
}
