$module: 'practice-areas';

.business {
  .#{$module} {
    &__hero {
      background: url(#{$asset-path}images/business-sm.jpg) no-repeat center center;
      @include cover();
    }
  }
}

.first-responders {
  .#{$module} {
    &__hero {
      background: url(#{$asset-path}images/firstresponder-sm.jpg) no-repeat center center;
      @include cover();
    }
  }
}

.gaming-e-sports {
  .#{$module} {
    &__hero {
      background: url(#{$asset-path}images/gaming-sm.jpg) no-repeat center center;
      @include cover();
    }
  }
}

.healthcare {
  .#{$module} {
    &__hero {
      background: url(#{$asset-path}images/healthcare-sm.jpg) no-repeat center center;
      @include cover();
    }
  }
}

.performing-artists {
  .#{$module} {
    &__hero {
      background: url(#{$asset-path}images/performance-sm.jpg) no-repeat center center;
      @include cover();
    }
  }
}

.sports {
  .#{$module} {
    &__hero {
      background: url(#{$asset-path}images/sports2-sm.jpg) no-repeat center center;
      @include cover();
    }
  }
}

.#{$module} {
  padding-top: 20px;

  h3 {
    @include dense(1.6em);
    margin-top: 0;
  }

  &__hero {
    background: url(#{$asset-path}images/business-sm.jpg) no-repeat center center;
    position: relative;
    text-align: center;
    @include cover();

    &.hero {
      margin: 0 0 30px 0;
      min-height: 95vw;
    }

    .centered {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }

    h2 {
      @include din(10vw);
      margin-top: 0;
      text-transform: uppercase;
    }

    p {
      @include dense(5vw);
      border: 4px solid $white;
      display: inline-block;
      margin: 1em auto;
      max-width: 75%;
      padding: 0 1em;
      text-transform: uppercase;
    }

    h2, p {
      color: $white;
    }
  }

  &__nav {
    list-style: none;
    padding-left: 0;

    &--item {
      padding: 5px 0;
      color: $navy;
      @include din(1.1em);

      &:hover {
        color: $black;
        cursor: hand;
        cursor: pointer;
        font-size: 1.2em;
      }

      &-active {
        text-decoration: underline;
      }
    }
  }

  &__section {
    display: none;

    &--active {
      display: block;
    }
  }
}

@media only screen and (min-width: 768px) {
  .#{$module} {
    &__hero {
      h2 {
        font-size: 75px;
      }
      p {
        font-size: 28px;
      }
      &.hero {
        min-height: 48vw;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .#{$module} {
    &__hero {
      background-attachment: fixed;
      &.hero {
        min-height: 32vw;
      }
    }
  }
}
