@mixin link-style() {
  color: $purple;
  text-decoration: none;
  transition: all, .1s;
  &:hover, &:active, &:focus {
    color: $midnight;
    text-decoration: underline;
  }
}

@mixin nav-link-style() {
  color: $black;
  font-size: 16px;
  font-weight: 600;
  transition: all, .1s;
  &:hover, &:active, &:focus {
    color: $purple;
    text-decoration: none;
  }
}

@mixin text-style() {
  color: $gray;
  font-size: 18px;
  line-height: 1.6em;
  margin: 1.6em 0;
}

@mixin blog-container() {
  padding: 50px 20px 20px;
  max-width: 700px;
}

@mixin cover() {
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}
