// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: #27ae60;
$black:         #001727;
$navy:          #002742;
$mint:          #e3f2f0;
$seafoam:       #f1f9f9;
$red:           #f10000;
$pure-red:      #ff0000;
$white:         #fff;

$midnight:      #303e53;
$gray:          #676d76;
$gray-light:    #f0f0f0;
$purple:        #6472cc;
$red:           #eb7786;
$blue:          #5da9fb;
$yellow:        #f7c033;

//Constraints
$constrain-home: 900px;

// Etc
$nav-offset: 40px;
$asset-path: '/app/themes/sportstrata/assets/';
